[mysql]

default-character-set=utf8

[mysqld]

character-set-server=utf8
default-storage-engine=INNODB
max_connections=100
max_allowed_packet=800M
innodb_lock_wait_timeout = 50
wait_timeout = 60
lock_wait_timeout = 60
general-log
log-slow-admin-statements
slow_query_log=ON
long_query_time=0.1
log_output=TABLE
